{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="row mt-5">
    <div class="col-md-6">
      <h1>Welcome to my website</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis euismod enim, id mattis quam. Proin vulputate elementum metus, eget dapibus nunc rutrum non. Sed euismod mi non velit convallis, vel egestas mauris pell       entesque. Ut et magna a dolor venenatis elementum. Sed vel sagittis lorem. Duis facilisis, nisl vel consequat rhoncus, justo metus pharetra sem, at dapibus enim orci quis turpis. Nullam suscipit tincidunt velit, a dictum nisi suscipit ut.</p>
    </div>
    <div class="col-md-6">
      <img src="https://c4.wallpaperflare.com/wallpaper/399/868/60/temple-dome-red-square-amg-moscow-hd-wallpaper-preview.jpg" class="img-fluid" alt="Placeholder">
    </div>
  </div>
{% endblock %}

